# Appendix: Data Collection & Cleaning Description

### Data Collection
We primarily collected our data from Rating Graph, IMDB, Kaggle, and The Numbers.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

%matplotlib inline
plt.rcParams['figure.figsize'] = (12.0, 8.0)
plt.style.use('seaborn-poster')

### Load and save CSV files to the notebook
Import the relevant and necessary files containing data from **Rating Graph** and **IMDB**.

In [2]:
# Rating Graph
r_data = pd.read_csv('r_ratings.csv', encoding='latin1')

#IMDB
akas = pd.read_csv("title.akas.tsv", sep = '\t')
ratings = pd.read_csv("title.ratings.tsv", sep = '\t')
title_basic = pd.read_csv("title.basics.tsv", sep = '\t')

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## IMDB

### Edit ID column from IMDB
The title ID column name in the IMDB ratings file (title.ratings.tsv) is inconsistent across the databases. We need the names to be the same in order to merge them properly. Rename the title id column of each datacase so that they all are 'titleId'

In [3]:
ratings = ratings.rename(columns={'tconst':'titleId'})
ratings

           titleId  averageRating  numVotes
0        tt0000001            5.7      1823
1        tt0000002            6.0       232
2        tt0000003            6.5      1576
3        tt0000004            6.1       151
4        tt0000005            6.2      2400
...            ...            ...       ...
1190277  tt9916682            5.6         5
1190278  tt9916690            6.6         5
1190279  tt9916720            5.3       135
1190280  tt9916766            7.1        17
1190281  tt9916778            7.5        31

[1190282 rows x 3 columns]

In [8]:
title_basic

,titleId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8309306,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8309307,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8309308,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8309309,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8309310,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [4]:
title_basic = title_basic.rename(columns={'tconst':'titleId'})

### Merging data
Here, we are merging each dataset by 'titleId' to make one dataset. \
We chose left merge because at this point we want to keep all the information from the datasets. Thus, the newly combined dataset, `imdb_ratings`, will have all the columns from the smaller datasets

In [5]:
tv_shows = pd.merge(akas,title_basic, on = 'titleId',how='left')
tv_shows = pd.merge(tv_shows,ratings, on = 'titleId',how='left')

tv_shows

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29281136,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",NaN,NaN
29281137,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",NaN,NaN
29281138,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",NaN,NaN
29281139,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0,short,The Wind,The Wind,0,2015,\N,27,Short,NaN,NaN
29281140,tt9916856,2,The Wind,\N,\N,original,\N,1,short,The Wind,The Wind,0,2015,\N,27,Short,NaN,NaN

### Dropping columns
Next we will drop the columns we are not usings for our analysis to make the dataset easier to read.

In [6]:
tv_shows.rename(columns = {'averageRating':'rating',
                    'genres':'genre',
                    'numVotes':'num_votes',
                    'originalTitle': 'org_title',
                    'isAdult': 'is_adult',
                    'startYear': 'start_year',
                    'endYear': 'end_year',
                    'runtimeMinutes': 'runtime_min',
                    'titleType': 'title_type',
                    'primaryTitle': 'primary_title'},inplace=True)

In [7]:
tv_shows.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,title_type,primary_title,org_title,is_adult,start_year,end_year,runtime_min,genre,rating,num_votes
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1823.0

### Filtering for Recent US TV shows
We only want English US TV shows after 1997. We filtered the columns of the dataset to match this description exactly. We chose **1997** because this is the year that Netflix was founded, so it will allow us to compare regular TV shows to those on streaming services. \
The **release year** column was read as a `str`, so to make our '>=' condition work we had to change the data type to `int`. \
To change the type to `int` we cannot have any NaNs in this column so we decided to remove rows with a NaN release year.
### Why we chose to remove rows with NaN release_year
Instead of replacing these release dates with other values such as 0 or researching the name of the series, we decided to remove them for the following reasons:
* Switching the data to 0 would make future anaysis confusing and would preserve the meaning of the column.
* When looking through these NaN release years, a lot of the rows were not conventual TV serieses. They were non-english, documentaries, animes or musicals that were certainly not made after 1997. ex: Hamlet, Valhalla Club Documentary. 
* These rows were also likely to have other missing information in columns such as the rating column and other important categories, so we decided that by removing them, we were not losing much information

In [8]:
tv_shows = tv_shows[tv_shows['start_year'] != '\\N']
tv_shows = tv_shows[tv_shows['start_year'].notna()]
tv_shows['start_year'] = tv_shows['start_year'].astype(int)

In [9]:
tv_shows = tv_shows[tv_shows['start_year'] >= 1997]

**Filters for TV series only** \
The IMDB data includes data on movies, shorts, etc. so we need to narrow it down to only TV shows

In [10]:
tv_shows = tv_shows[tv_shows['title_type'] == 'tvSeries']
tv_shows = tv_shows[tv_shows['region'] == 'US']

**Filters for English-only shows**

In [12]:
tv_shows = tv_shows[tv_shows['org_title'] == tv_shows['primary_title']]

In [24]:
tv_shows = tv_shows[['rating','num_votes','title', 'org_title', 'is_adult', 'start_year', 
                        'end_year', 'runtime_min', 'genre']]
tv_shows.reset_index(drop = True, inplace = True)

In [25]:
tv_shows.head()

,rating,num_votes,title,org_title,is_adult,start_year,end_year,runtime_min,genre
0,7.4,218.0,Saiyuki,Gensomaden Saiyuki,0,2000,2001,23,"Action,Adventure,Animation"
1,NaN,NaN,Real Time with Andy Kindler,Real Time with Andy Kindler,0,1998,\N,\N,\N
2,6.3,665.0,The New Adventures of Robin Hood,The New Adventures of Robin Hood,0,1997,1999,54,"Action,Adventure"
3,8.2,48.0,Style & Substance,Style & Substance,0,1998,1998,30,Comedy
4,6.1,83.0,413 Hope St.,413 Hope St.,0,1997,1998,60,Drama

### Removing more NaNs
We decided it would be best to remove rows with a NaN average rating score since this is how we determine if a TV series is successful or not. Not having this column would prevent us from doing regressions, correlations, and etc. so it is best to remove it

In [26]:
tv_shows = tv_shows[tv_shows['rating'].notna()]
print(f'We now have {len(tv_shows)} TV shows from IMDB that we can use for data analysis')

We now have 27019 TV shows from IMDB that we can use for data analysis

### Save the new data into a CSV file called `non_netflix_shows.csv`

In [28]:
tv_shows.to_csv("non_netflix_shows.csv", index = False)

## Rating Graph ##

### Edit columns from Rating Graph
Take the necessary measures to make sure the data is easier to work with (e.g. making all the column titles lower case, dropping all the NaN rows, etc.)

In [30]:
r_data.columns = r_data.columns.str.lower()
r_data.columns = r_data.columns.str.replace(' ', '_')

ratings_table = r_data[['rank','trend','title', 'start_year', 'end_year', 'genres', 
                        'total_votes', 'average_votes', 'average_rating']]

ratings_table = ratings_table.rename(columns={'average_rating':'rating'})

### Removing NaNs 
There are columns with NaNs that crossed over from the Excel spreadsheet that do not contain any titles so it is better to remove them.

In [31]:
ratings_table = ratings_table.dropna()
ratings_table

,rank,trend,title,start_year,end_year,genres,total_votes,average_votes,rating
0,"8,373",-,We Are Angels,1997.0,-,"Comedy, Crime, Adventure",136,23,7.0
1,"12,804",-,The New Adventures of Robin Hood,1997.0,1999,"Action, Adventure",98,8,8.5
2,"18,449",-,Strisser p Sams¿,1997.0,1998,"Drama, Crime",40,6,7.2
3,"9,906",-,Original Sin,1997.0,1997,"Drama, Crime, Mystery",50,17,7.1
4,"10,518",-,"20,000 Leagues Under the Sea",1997.0,1997,"Romance, Adventure, Sci-fi",42,21,6.1
...,...,...,...,...,...,...,...,...,...
17023,"4,797",45,Mieruko-chan,2021.0,-,"Animation, Comedy, Fantasy",90,45,8.0
17024,"12,372",-,Irina: The Vampire Cosmonaut,2021.0,-,"Animation, Drama, Fantasy",20,10,7.8
17025,"11,258",-,Baking Impossible,2021.0,-,"Game-show, Reality-tv",38,10,8.4
17026,"5,376",-,One Of Us Is Lying,2021.0,-,"Drama, Crime, Mystery",121,40,7.7
17027,"5,024",-,Sunny Beach,2021.0,-,"Comedy, Drama, Family",352,29,9.6

### Narrow down the data ### 
First, we made a copy of the `ratings_table` dataframe to create `r_ratings` which would preserve and not alter the initial dataframe

In [32]:
# make a copy of the ratings_table dataframe
r_ratings = ratings_table.copy()

# limit data to titles after 1997 (the year that Netflix was founded)
r_ratings.start_year = r_ratings.loc[:,'start_year'].astype(int)
r_ratings = r_ratings.loc[r_ratings.start_year > 1997]

r_ratings

,rank,trend,title,start_year,end_year,genres,total_votes,average_votes,rating
201,"13,790",-,The Ambassador,1998,1999,Drama,83,9,7.6
202,"12,999",-,Ballet Rose - Vidas Proibidas,1998,1998,"Drama, Crime, History",11,6,9.7
203,"1,520",67,Dawson's Creek,1998,2003,"Romance, Drama","31,403",245,7.6
204,"19,417",-,Aspiranterna,1998,1998,"Drama, Crime",51,6,6.6
205,954,1,From the Earth to the Moon,1998,1998,"Action, Drama, History","4,385",365,8.0
...,...,...,...,...,...,...,...,...,...
17023,"4,797",45,Mieruko-chan,2021,-,"Animation, Comedy, Fantasy",90,45,8.0
17024,"12,372",-,Irina: The Vampire Cosmonaut,2021,-,"Animation, Drama, Fantasy",20,10,7.8
17025,"11,258",-,Baking Impossible,2021,-,"Game-show, Reality-tv",38,10,8.4
17026,"5,376",-,One Of Us Is Lying,2021,-,"Drama, Crime, Mystery",121,40,7.7
17027,"5,024",-,Sunny Beach,2021,-,"Comedy, Drama, Family",352,29,9.6

### Save the new data into a CSV file called `rgraph.csv`

In [33]:
r_ratings.to_csv("rgraph.csv", index = False)

We had to take additional steps when converting the data from the `trend` column as there were commas

### Combine and Rating Graph and IMDB data
Here we used `.merge()` in order to join the two dataframes `imdb_ratings` and `r_ratings`.

In [42]:
total_reviews = tv_shows.merge(r_ratings,how='inner',on='title')

In [43]:
total_reviews

,rating_x,num_votes,title,org_title,is_adult,start_year_x,end_year_x,runtime_min,genre,rank,trend,start_year_y,end_year_y,genres,total_votes,average_votes,rating_y
0,7.3,110.0,Big Sky,Big Sky,0,1997,1999,50,Drama,861,199,2020,-,"Drama, Crime, Mystery, Thriller","8,130",452,7.6
1,6.7,10167.0,Big Sky,Big Sky,0,2020,\N,60,"Crime,Drama,Mystery",861,199,2020,-,"Drama, Crime, Mystery, Thriller","8,130",452,7.6
2,6.7,38810.0,Dawson's Creek,Dawson's Creek,0,1998,2003,60,"Drama,Romance","1,520",67,1998,2003,"Romance, Drama","31,403",245,7.6
3,4.8,97.0,The Tony Danza Show,The Tony Danza Show,0,1997,1998,30,Comedy,"11,102",-,2004,2006,Talk-show,545,39,4.3
4,3.3,338.0,The Tony Danza Show,The Tony Danza Show,0,2004,2006,\N,Talk-Show,"11,102",-,2004,2006,Talk-show,545,39,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9626,7.3,11073.0,Motherland: Fort Salem,Motherland: Fort Salem,0,2020,2022,\N,"Drama,Fantasy,Sci-Fi",440,43,2020,2022,"Drama, Fantasy, Sci-fi, Thriller","15,274",727,8.7
9627,7.1,2551.0,Blown Away,Blown Away,0,2019,\N,23,Reality-TV,"5,085",2,2019,-,Reality-tv,"1,350",68,6.2
9628,8.3,509.0,Race Across the World,Race Across the World,0,2019,\N,59,"Documentary,Game-Show","8,393",-,2019,-,"Documentary, Game-show",293,20,7.5
9629,5.8,735.0,Zalim Istanbul,Zalim Istanbul,0,2019,2020,120,Drama,"11,024",10,2019,2020,Drama,556,14,7.2
9630,9.3,67.0,Never Ever,Never Ever,0,2018,\N,\N,"Biography,Documentary,History","6,462",6,2018,-,"Documentary, Biography, History",112,19,9.6

### Data cleaning (again)
We took additional steps to clean the data by dropping any duplicate columns like `start_year_y` that were not needed, and we renamed column titles that had their original labels changed when merging the dataframes. \
Then, again, we converted any columns that were `str` to `int`

In [44]:
total_reviews = total_reviews.drop(columns = ['genres','total_votes','average_votes','start_year_y', 'end_year_y'])
total_reviews.rename(columns = {'rating_x':'imdb_rating', 
                    'genres_x':'genres', 'start_year_x': 'start_year',
                    'end_year_x': 'end_year',
                    'rating_y':'r_avg_rating'},inplace=True)

total_reviews.num_votes = total_reviews.loc[:,'num_votes'].astype(int)
total_reviews.start_year = total_reviews.loc[:,'start_year'].astype(int)

total_reviews

,imdb_rating,num_votes,title,org_title,is_adult,start_year,end_year,runtime_min,genre,rank,trend,r_avg_rating
0,7.3,110,Big Sky,Big Sky,0,1997,1999,50,Drama,861,199,7.6
1,6.7,10167,Big Sky,Big Sky,0,2020,\N,60,"Crime,Drama,Mystery",861,199,7.6
2,6.7,38810,Dawson's Creek,Dawson's Creek,0,1998,2003,60,"Drama,Romance","1,520",67,7.6
3,4.8,97,The Tony Danza Show,The Tony Danza Show,0,1997,1998,30,Comedy,"11,102",-,4.3
4,3.3,338,The Tony Danza Show,The Tony Danza Show,0,2004,2006,\N,Talk-Show,"11,102",-,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...
9626,7.3,11073,Motherland: Fort Salem,Motherland: Fort Salem,0,2020,2022,\N,"Drama,Fantasy,Sci-Fi",440,43,8.7
9627,7.1,2551,Blown Away,Blown Away,0,2019,\N,23,Reality-TV,"5,085",2,6.2
9628,8.3,509,Race Across the World,Race Across the World,0,2019,\N,59,"Documentary,Game-Show","8,393",-,7.5
9629,5.8,735,Zalim Istanbul,Zalim Istanbul,0,2019,2020,120,Drama,"11,024",10,7.2
9630,9.3,67,Never Ever,Never Ever,0,2018,\N,\N,"Biography,Documentary,History","6,462",6,9.6

## Netflix Ratings
### Load `Netflix Shows.csv`

In [45]:
net = pd.read_csv("Netflix Shows.csv", encoding='latin-1')

## Removing rows with `NaN` user rating score
Instead of replacing these release data with other values such as 0 or researching the name of the series we decided to remove them. 
* Switching the data to 0 would make future anaysis confusing adn would preserve the meaning of the column.
* When looking through these `NaN` release year, a lot of the rows were not conventual tv series. They were non-english, documentaries, animes or musicals that were certainly not made after 1997. ex: hamlet, valhalla club documentary. 
* These rows were also likely to have other columns missing information such as the rating column and other important categories, so we decided by removing them, we were not losing much information

In [46]:
net = net[net['user rating score'].notna()]
net

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
...,...,...,...,...,...,...,...
986,PokÌ©mon: Indigo League,TV-Y,Suitable for all ages.,10,2000,74.0,80
988,Paddington,PG,mild action and rude humor,60,2014,70.0,80
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
999,Growing Up Wild,G,NaN,35,2016,80.0,80

## Amazon Prime Ratings
### Load `Prime TV Shows Data set.csv`

In [47]:
prime = pd.read_csv("Prime TV Shows Data set.csv", encoding='latin-1')

## Standardize column names and dropping unnecessary columns & rows
We want all the column names to match. For example, the other two datasets have their title column as `title`, so it makes sense to keep this the same

We also changed the rating scale of Netflix so that is is 1-10 like the others

In [48]:
prime = prime.rename(columns={'Name of the show':'title','Year of release':'startYear',
                              'IMDb rating': 'rating','Age of viewers':'age','Genre':'genre' })
prime

,S.no.,title,startYear,No of seasons available,Language,genre,rating,age
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+
...,...,...,...,...,...,...,...,...
399,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,404,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
net = net.drop(['ratingLevel','ratingDescription'],axis = 1)

In [50]:
net = net.rename(columns={'release year':'startYear','user rating score': 'rating',
                          'rating':'age', 'user rating size':'numVotes', })

In [51]:
net['rating'] = net['rating']/10

### Save the new data into CSV files called `primeCleaned.csv` and `netflixCleaned.csv`

In [52]:
prime.to_csv("primeCleaned.csv", index = False)
net.to_csv("netflixCleaned.csv", index = False)

## Get adoptions
In future analysis, we want to see how the ratings of TV shows that were originally shown on TV and are now also on streaming services compare to shows solely on TV

In [53]:
imdb1 = pd.read_csv("non_netflix_shows.csv")

In [54]:
onNetToo = pd.merge(imdb1, net, how = 'inner', on = 'title')

In [60]:
onNetToo= onNetToo.rename(columns={'genre_x':'genre'})
onNetToo= onNetToo.rename(columns={'rating_x':'rating'})
onNetToo= onNetToo.rename(columns={'startYear_x':'startYear'})
onNetToo = onNetToo[onNetToo['genre'] != '\\N']

onNetToo= onNetToo[onNetToo['rating'].notna()]
onNetToo= onNetToo[onNetToo['genre'].notna()]

In [61]:
onPrimeToo = pd.merge(imdb1, prime, how = 'inner', on = 'title')

In [62]:
onPrimeToo= onPrimeToo.rename(columns={'genre_x':'genre'})
onPrimeToo= onPrimeToo.rename(columns={'rating_x':'rating'})
onPrimeToo= onPrimeToo.rename(columns={'startYear_x':'startYear'})
onPrimeToo = onPrimeToo[onPrimeToo['genre'] != '\\N']
onPrimeToo= onPrimeToo[onPrimeToo['rating'].notna()]
onPrimeToo= onPrimeToo[onPrimeToo['genre'].notna()]

In [63]:
onPrimeToo.to_csv("onPrimeToo.csv",index=False)
onNetToo.to_csv("onNetToo.csv",index=False)